form {
	margin-top: 50px;
	margin-right: auto;
	margin-left : auto;
	margin-bottom: 50px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: rgba(255, 255, 255, 0.8);
    width: 30%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}


 legend{
	color : black;
	margin: auto;
	font-size: 20px;
}

 label{
	color: black;
}

 input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


 input[type=submit] {
    background-color: #3385ff;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}



  fieldset {
 padding:0 20px 0 20px;
 border:none;

 }

 #div_inscrire{
 	text-align: center;
 	width: 100%;
 }

 #inscrire {
 	text-decoration: none;
 	color: black;
 	width: 50%;
 	margin-right: 25%;
 	margin-left : 25%;
 }